<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead>
            <th>Done</th>
            <th>Title</th>
            <th>Body</th>
            <th>Deadline</th>
            <th>Group</th>
            <th>Priority</th>
            </thead>
            <tr ng-repeat="task in ctrl.taskList">
                <td><input type="checkbox" ng-click="ctrl.markAsDone($index)"></td>
                <td>{{task.title}}</td>
                <td>{{task.body}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.group}}</td>
                <td>{{task.priority}}</td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href class="btn btn-success" ui-sref="app.user.createTask.index">Add task</a>
        </div>
    </div>

    <button ng-click="ctrl.createNewTask()">Create</button>
</div>