<div class="container-fluid">
    <div class="row">
        <table class="table">
            <thead>
            <th>Done</th>
            <th>Title</th>
            <th>Body</th>
            <th>Deadline</th>
            <th>Group</th>
            <th>Priority</th>
            <th>Tools</th>
            </thead>
            <tr ng-repeat="task in ctrl.taskList">
                <td>
                    <span class="glyphicon glyphicon-ok" ng-click="ctrl.markAsNotDone($index)" ng-if="task.done"></span>
                    <span class="glyphicon glyphicon-asterisk" ng-click="ctrl.markAsDone($index)" ng-if="!task.done"></span>
                </td>
                <td>{{task.title}}</td>
                <td>{{task.body}}</td>
                <td>{{task.deadline | date}}</td>
                <td>{{task.group}}</td>
                <td>{{task.priority}}</td>
                <td><span class="glyphicon glyphicon-edit" ng-click="ctrl.editTask($index)"></span>
                    <span class="glyphicon glyphicon-remove" ng-click="ctrl.deleteTask($index)"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a href class="btn btn-success" ng-click="ctrl.createNewTask()">Add task</a>
        </div>
    </div>
</div>